@import '../base/lista';
@import '../base/mixin';

.hero {
    height: 65vh;
    background-image: url('https://d.img.vision/hero/hero.webp');
    background-position: center;
    flex-direction: column;
    @include display-flex;
    background-repeat: no-repeat;
    width: 100%;
    h1 {
        color: rgba(247, 247, 247, 0.89);
        text-align: center;
        font-size: nth($font-size, 5);
        font-weight: 700;
        text-shadow: 0 0 32px nth($colores , 2),
            0 0 42px nth($colores , 2),
            0 0 52px nth($colores , 2),
            0 0 52px nth($colores , 2),
            0 0 52px nth($colores , 2);
    }

    h2 {
        color: rgba(247, 247, 247, 0.89);
        text-align: center;
        font-size: nth($font-size, 4);
        font-weight: 700;
        text-shadow: 0 0 32px nth($colores , 2),
            0 0 42px nth($colores , 2),
            0 0 52px nth($colores , 2),
            0 0 52px nth($colores , 2),
            0 0 52px nth($colores , 2);
    }
}