@media only screen and (max-width:359px) {
    header .categorias a {
        color: #ffffff;
        font-size: 1rem;
    }

    .hero h1 {
        font-size: 3.5rem;
    }

    .hero h2 {
        font-size: 2.3rem;
    }

    .titulos {
        font-size: nth($font-size, 2);
    }

    .segunda-seccion h2 {
        font-size: 28px;
    }

    .segunda-seccion p {
        font-size: 20px;
    }
    .segunda-seccion .beneficios {
        margin: 60px;
        height: 290px;
      }

    .segunda-seccion .beneficios img {
        width: 175px;
        height: 180px;
        margin: 0 15%;
    }
    .segunda-seccion .beneficios p{
        font-size: 1.3rem;
    }

    .fondo-destacados h2 {
        font-size: 2.5rem;
    }

    .fondo-destacados h3 {
        font-size: 30px;

    }

    .fondo-destacados a {
        font-size: 25px;
    }

    .fondo-ubicacion h2 {
        font-size: 2.5rem;
    }

    .fondo-ubicacion h4 {
        font-size: 1.7rem;
    }

    .fondo-alcohol h2 {
        font-size: 2.5rem;
    }

    .fondo-alcohol h3 {
        font-size: 30px;
    }

    .fondo-alcohol a {
        font-size: 25px;
    }

    .fondo-Salcohol h2 {
        font-size: 2.5rem;
    }

    .fondo-Salcohol h3 {
        font-size: 30px;
    }

    .fondo-Salcohol a {
        font-size: 25px;
    }


    .nosotros {
        height: 150vh;
    }

    .nosotros p {
        font-size: 20px;
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .recomendaciones #mayor {
        font-size: 2rem;
        text-align: center;
    }

    .div-recomendaciones #imagen-1 {
        width: 220px;
        height: 300px;
        margin: 10px 40px;
        transform: none;
        -webkit-transform: none;
    }

    .div-recomendaciones #imagen-2 {
        width: 225px;
        height: 260px;
        margin: 10px 40px;
        transform: none;
        -webkit-transform: none;
    }

    .div-recomendaciones #imagen-3 {
        width: 260px;
        height: 260px;
        margin: 5px 20px;
        transform: none;
        -webkit-transform: none;
    }

    .div-recomendaciones #imagen-4 {
        width: 260px;
        height: 260px;
        margin: 5px 20px;
        transform: none;
        -webkit-transform: none;
    }

    .div-recomendaciones #imagen-5 {
        width: 260px;
        height: 260px;
        margin: 5px 20px;
        transform: none;
        -webkit-transform: none;
    }

    .inicio-sesion {
        height: 120vh;
    }

    .login {
        width: 310px;
    }
}