@import '../base/lista';
@import '../base/mixin';

.fondo-destacados {

    background-image: url(https://img.freepik.com/fotos-premium/fondo-luz-neon-pared-ladrillo_161844-300.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        @include titulos;
        text-align: center;
    }
    h3{
        text-align: center;
        @include display-flex;
        color: nth($colores , 1 );
        text-shadow: 0 0 10px #208cf1, 0 0 14px #208cf1, 0 0 18px #208cf1, 0 0 20px #208cf1;
        font-family: nth($tipografia, 1 );
        font-size: 40px;
        margin: 20px 0 0 0;
    }
    a{
        text-align: center;
        @include titulos;
        text-decoration: none;
        font-size: 25px;
        margin: 10px 0 0;
    }

    @keyframes animate {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }

    .productos {
        margin: 45px auto;
        align-content: center;
    }

    .productos img {
        width: 150px;
        height: 180px;
        border-radius: 100px;
        display: flex;
        margin: 15px auto;
        transition: 1s ease;
        box-shadow: 0 0 3px nth($colores, 1),
            0 0 3px nth($colores, 1),
            0 0 4px nth($colores, 3),
            0 0 10px nth($colores, 3),
            0 0 12px nth($colores, 3),
            0 0 15px nth($colores, 3),
            0 0 18px nth($colores, 3),
            0 0 20px nth($colores, 3);


    }

    .productos img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }

    .productos p {
        text-align: center;
        font-size: nth($font-size, 7);
        font-weight: 600;
        color: nth($colores , 1);
        text-shadow: 0 0 10px black;
        font-family: nth($tipografia , 1);
    }

}

.fondo-alcohol {
    background-color: nth($colores, 5);
}

.fondo-Salcohol {
    background-color: nth($colores , 7);
}