@import '../base/lista';
@import '../base/mixin';

.fondo-destacados {
    background-image: url(https://fondosmil.com/fondo/34253.jpg);

    h2 {
        @include titulos;
    }

    .productos {
        margin: 45px auto;
        align-content: center;
    }

    .productos img {
        width: 150px;
        height: 180px;
        border-radius: 15px;
        display: flex;
        margin: 15px auto;
        box-shadow: 0 0 3px nth($colores, 1),
            0 0 6px nth($colores, 1),
            0 0 15px nth($colores, 1),
            0 0 25px nth($colores, 7),
            0 0 25px nth($colores, 7),
            0 0 30px nth($colores, 7),
            0 0 30px nth($colores, 7),
            0 0 30px nth($colores, 7);

    }

    .productos p {
        text-align: center;
        font-size: nth($font-size, 7);
        font-weight: 600;
        color: nth($colores, 1);
        font-family: nth($tipografia , 1);
    }
}

.fondo-alcohol {
    background-color: nth($colores, 5);
}

.fondo-Salcohol {
    background-color: nth($colores , 7);
}