.fondo-ubicacion{
    background-color: #002E94;
    h2{
        @include titulos;
        
    }
    .mapa{
        background-color: nth($colores, 5 );
    }
    .iframe{
        width: 100%;
        border: 1px solid #000000;
        border-radius: 5%;
    }
    .direccion-contacto{
        background-color: nth($colores , 5 );
    }
    h3{
        font-size: nth($font-size , 3);
        color: nth($colores, 8 );
        font-family: nth($tipografia, 1 );
        margin: 50px auto;
        @include display-flex;
        font-weight: 600;
    }
    h4{
        font-size: nth($font-size , 2 );
        color: nth($colores, 8 );
        font-family: nth($tipografia , 1 );
        padding-left: 20px;
    }
    .icon-ubi{
        color: red;
        margin: 0 10px;
    }
    .icon-cel{
        color: black;
        margin: 0 10px;
    }
}