
$colores:
#ffffff,
#0096FF,
#843ED8,
#208cf1,
#208cf13b,
#323232,
#efb810,
rgba(0, 0, 0, 0.733),
rgba(128, 128, 128, 0.897),
rgba(92, 92, 92, 0.897),
#0d6efd,
#000000;


$font-size:
2rem,
2.3rem,
2.7rem,
3.5rem,
5rem,
2.5rem,
1.3rem,
1.6rem;

$tipografia: 
'reboto', sans-serif;






