@import 'lista';

@mixin display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin titulos {
    background-color: nth($colores , 4 );
    color: nth($colores , 1 );
  font-size: 2.7rem;
  text-align: center;
  margin: 0 auto;
  font-family: "reboto", sans-serif;
  border-color: black 4px;
    
}